.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-container .right-about .about-item {
  border: 1px solid var(--color-fg-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-fg);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-fg);
}

.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-fg-1);
  letter-spacing: 2px;
}

.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-fg-5);
}

.about-container .left-about {
  padding-right: 5rem;
}

.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-fg-1);
  padding-left: 0;
}

.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.about-stats {
  padding-bottom: 4rem;
}

.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}

.about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
}

.about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}

.about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--color-fg-2);
}

.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-fg-4);
  margin-left: 1rem;
  position: relative;
}

.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-fg);
  transition: all 0.4s ease-in-out;
  width: 60%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .html {
  width: 80%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .css {
  width: 95%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .js {
  width: 75%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .react {
  width: 60%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .node {
  width: 87%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .python {
  width: 70%;
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}

.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--inverse);
  transform: translateX(-50%);
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}

.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--inverse);
}

.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-fg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}

.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-fg-8);
  color: var(--inverse);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--inverse);
}

.timeline .timeline-item h5 span {
  color: var(--color-fg-2);
  font-weight: 500;
  font-size: 1.2rem;
}

.timeline .timeline-item p {
  color: var(--color-fg-2);
}

.coding-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#weekly-status,
#language-satus {
  width: 100%;
  margin-bottom: 20px;
}

#weeklyChart,
#languageChart {
  width: 100%;
  max-width: 800px;
  height: auto;
}

#weekly-status {
  border: 1px solid var(--color-fg-6);
  border-radius: 5px;
}

#language-satus {
  border: 1px solid var(--color-fg-6);
  border-radius: 5px;
}

.coding-activity p {
  font-family: "Fira Sans", sans-serif;
  font-size: small;
  padding-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 2.5rem;
  }

  .about-container .left-about {
    padding-right: 0;
  }

  .about-container .left-about p {
    padding-left: 0;
  }

  .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }

  .timeline {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
}

/*@media screen and (max-width: 1250px) {*/
/*  #about {*/
/*    margin-top: 3rem;*/
/*    margin-bottom: 3rem;*/
/*  }*/
/*}*/

@media screen and (max-width: 1070px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-container .right-about {
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
  }

  .timeline {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 970px) {
  .about-container .left-about {
    padding-right: 0rem;
  }

}

@media (max-width: 768px) {
  .coding-activity {
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .coding-activity {
    max-width: 400px;
  }
}
