@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#greeting {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: none;
    transform: translateY(-100%) scale(0);
    transition: all 0.4s ease-in-out;
    background-color: var(--color-bg);
}

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
}

.header-content .left-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
}

.header-content .left-header #name {
    font-size: 3rem;
    color: var(--color-fg);
}

.left-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
    padding-left: 5rem;
}

.active {
    display: block;
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
}

.btn-con {
    display: flex;
    align-self: flex-start;
    margin-top: 2rem;
}

.main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-fg);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
}

.main-btn .btn-text {
    padding: 0 2rem;
}

.main-btn .btn-icon {
    background-color: var(--color-fg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}

.main-btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.4s ease-out;
    z-index: -1;
}

.main-btn:hover {
    transition: all 0.4s ease-out;
}

.main-btn:hover::before {
    width: 100%;
    height: 100%;
    background-color: var(--color-fg);
    transform: translateX(0);
    transition: all 0.4s ease-out;
}

#typing {
    font-family: "Fira Code", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.header-content .right-header {
    display: flex;
    align-items: center;
    position: relative;
}

.header-content .right-header .image {
    border-radius: var(--br-sm-2);
    height: 100%;
    width: 75%;
    margin-left: 4rem;
    transition: all 0.4s ease-in-out;
    bottom: 0;
}

.header-content .right-header .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
    filter: grayscale(100%);
}

.header-content .right-header .image img:hover {
    filter: grayscale(0);
}

#now-playing p {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-family: "Fira Sans", sans-serif;
    font-size: medium;
}

@media screen and (max-width: 1432px) {
    .container {
        padding: 7rem 11rem;
    }
}

@media screen and (max-width: 1250px) {
    .header-content .left-header {
        padding-right: 9rem;
    }
}

@media screen and (max-width: 970px) {
    .container {
        padding: 7rem 6rem;
    }

    .header-content {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .left-header {
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        padding-left: 0;
    }

    .left-header #name {
        font-size: 2.5rem !important;
        text-align: center;
        padding-top: 1rem;
    }

    .btn-con {
        align-self: center;
    }

    .left-header .image {
        width: 90% !important;
        margin: 0 auto !important;
    }

    .header-content .right-header .profile-image {
        padding-top: 1rem;
        display: block;
        margin: 0 auto;
        height: fit-content;
        width: fit-content;
    }

    .header-content .right-header img {
        border-radius: 10%;
        background-color: var(--color-fg);
    }

    #now-playing img {
        width: 80vw;
    }
}

@media screen and (max-width: 700px) {
    .container {
        padding: 7rem 3rem;
    }

    .left-header {
        padding-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 2rem 2.5rem !important;
    }

    header {
        padding: 0 !important;
    }

    .header-content {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .left-header {
        padding-left: 0;
    }
}
